extends ../layouts/default

block css
	link(rel="stylesheet", href="/js/lib/fancybox/jquery.fancybox.css")

	style.
		.scrollDown {
			    width: 100%;
				height: 25px;
				left: 0;
				position: fixed;
				bottom: 0;
				background-color: white;
				padding: 0;
				text-align: center;
		
		};

		.captionBG {
		background: rgba(255, 255, 255, 0.50 );
		color: black;
		margin: 0;
		}
		.carousel-caption {
			bottom: 56px;
		}

		.carousel-indicators {
					bottom: 42px;

		}

		.carousel-indicators li {
			box-sizing: content-box;
			-ms-flex: 0 1 auto;
			flex: 0 1 auto;
			width: 105px;
			height: 0;
			margin-right: 3px;
			margin-left: 3px;
			text-indent: 0;
			cursor: pointer;
			background-color: #fff;
			background-clip: padding-box;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			opacity: 1;
		}
				
				
block content
	.page-header
		if category.contentPage
			.container
				img.img-fluid(src=category._.image.fill(1200,800), alt=category.name + ' image ' + (i+1))
			.p-5
				| !{category.content}

		else
		// Carousel Wrapper
		#carousel-thumb.carousel.slide.carousel-fade.carousel-thumbnails(data-ride='carousel')
			// Slides
			.carousel-inner(role='listbox')
				each image, i in images

						.row.thisImage
							a.imageLink(data-toggle='modal', data-target='#modalAndrei', data-id=i)
								img.d-block.w-100.img-fluid(src=image._.image.fit(1600,1000), alt=image.name)
							if i == 0
								.scrollDown.d-none.d-md-block SCROLL DOWN

						.row
							.p-3.captionBG
								h3.h3-responsive=image.name
								.h3-responsive 
									| !{image.description}




			.modal#modalAndrei.fade(tabindex='-1', role='dialog')
				.modal-dialog.modal-lg(role='document')
					.modal-content
						.modal-body
							button.close(type='button', data-dismiss='modal', aria-label='Close')
									span(aria-hidden='true') ×
							img.showMe.d-block.w-100

											
block page-js
	unless category.contentPage

		- theImage = []

		each val, i in images
			- theImage[i]="'" + val._.image.fit(1600,1000) + "'"

		script. 
			var BGimages = [!{theImage}]
			var slidNum

			$('.imageLink').on("click",function(){
				slidNum = $(this).data("id");
				$('.showMe').attr('src',BGimages[slidNum])
				//post code
				})

			$(window).scroll(function() {
					$('.scrollDown').hide();
					});

				
